@use '@variables' as variables;
@use '@mixins' as mixins;

.footer {
  position: relative;
  z-index: 102;
  background-color: variables.$charcoal;
  text-align: center;
  padding: 15px 0;
  color: white;
  @include mixins.FontTertiary;
  font-size: 13px;
  margin-top: 50px;
  a,
  a:active {
    color: white;
    text-decoration: underline;
  }
}

@media screen and (max-width: variables.$mobile) {
  .footer {
    font-size: 11px;
    margin-top: 20px;
    padding: 10px 5px;
  }
}
