@use '@variables' as variables;

.card {
  width: 272px;
  border: 2px solid white;
  border-radius: 10px;
  height: 181px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s linear;
  position: relative;
}

.word {
  margin-top: 20px;
  background-color: white;
  color: variables.$red;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

button.close {
  top: 5px;
  right: 5px;
}

@media print {
  .card {
    border: 1px dashed black;
    border-radius: 0;
    // Create a page break after 5th row
    &:nth-child(12n + 1) {
      page-break-before: always;
    }
    .word {
      color: white;
      background-color: black;
    }
    .close {
      display: none;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
