@use '@variables' as variables;
@use '@mixins' as mixins;

.card {
  width: 272px;
  border: 2px solid white;
  border-radius: 10px;
  height: 181px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 1s linear;
  position: relative;
  @include mixins.FontTertiary;
  font-size: 18px;
}

.word {
  margin-top: 20px;
  background-color: white;
  color: variables.$red;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.inverted {
  display: none;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  transform: scale(-1, -1);
  position: absolute;
  top: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
}

button.close {
  top: 5px;
  right: 5px;
}

@media print {
  .card {
    border: 1px dashed black;
    border-radius: 0;
    // Create a page break after 5th row
    &:nth-child(12n + 1) {
      page-break-before: always;
    }
    .word {
      color: white;
      background-color: black;
      margin-top: 70px;
    }
    .inverted {
      display: block;
    }
    .close {
      display: none;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
