@use '@variables' as variables;
@use '@mixins' as mixins;

.counter {
  @include mixins.FontSecondary;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}

.infoIconButton {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: -30px;
}

.text {
  position: relative;
}

@media screen and (max-width: variables.$tablet) {
  .counter {
    margin-bottom: 10px;
  }

  .text {
    font-size: 25px;
  }
}
