@use '@variables' as variables;

.container {
  background-image: url('../../../public/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.overlay {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: variables.$mobile) {
  .container {
    background-position: left;
  }
}
