.counter {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}

.infoIconButton {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: -30px;
}

.text {
  position: relative;
}
