@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  margin-top: 150px;
}

.textContainer {
  border-bottom: 2px solid white;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.title {
  text-align: center;
  @include mixins.FontPrimary;
  font-size: 60px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}

.description {
  text-align: center;
  @include mixins.FontSecondary;
  font-size: 20px;
}

@media screen and (max-width: variables.$tablet) {
  .title {
    font-size: 40px;
  }
  .textContainer {
    padding: 0 15px;
  }
}
