@use '@variables' as variables;

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media print {
  @page {
    margin: 10mm;
  }
  .cards {
    gap: 0;
  }
}

@media screen and (max-width: variables.$tablet) {
  .cards {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
}
